@{
    ViewData["Title"] = "Home Page";
}

@section Styles{ 
    <style>
        h2{
            color:red;
        }
    </style>
}

<div class="text-center">
    <h1>Github</h1>
    <input type="button" value="click" id="button1" />
    <div id="div1"></div>
</div>


@section Scripts{
    <script>
        //const btn = document.querySelector("#button1");
        //const myDiv = document.querySelector("#div1");
        //btn.addEventListener("click", () => { myDiv.innerHTML = "<h2>Hello JavaScript!!!</h2>" });
        $("#button1").click(() => {
            $("#div1").html("<h2>Hello JQuery!!!</h2>");
        })
    </script>
}